group csharp_extractor
    framework: net8.0
    storage: none
    source https://api.nuget.org/v3/index.json

    nuget Mono.Posix.NETStandard 1.0.0
    nuget Newtonsoft.Json 13.0.3
    nuget xunit 2.6.2
    nuget xunit.runner.visualstudio 2.5.4
    nuget Microsoft.NET.Test.Sdk 17.8.0
    nuget Microsoft.CodeAnalysis.CSharp 4.8.0
    nuget Microsoft.CodeAnalysis 4.8.0
    nuget Microsoft.Build 17.8.3
    nuget GitInfo 3.3.3 copy_local: true # TODO private assets, see Semmle.Extraction.csproj
    nuget ThisAssembly.Git 1.4.3
    